html {
  font-size: 10px; }

body {
  font-size: 1.5rem; }

h1, h2, h3 {
  font-family: "Questrial", sans-serif; }

a {
  font-family: "Montserrat", sans-serif; }

p {
  font-family: "Playfair Display", serif; }

h1 {
  font-size: 4.7rem; }

h2 {
  font-size: 3.2rem; }

h3 {
  font-size: 2.5rem; }

p {
  line-height: 2rem; }
