@import 'elements'

header
	text-align: center
	height: auto
	width: 100%
	background:
		image: url(../../images/cliffs.jpg)
		position: top center
		repeat: no-repeat
		size: cover
	padding:
		top: 100px
		bottom: 500px

.about-sam
	padding: 100px 0
	text-align: center
	p
		max-width: 800px
		margin: auto
		padding: 0 15px
		padding-bottom: 90px
		font-size: 1.8rem
	.foo
		display: flex
		flex-flow: row wrap
		align-items: flex-end


.html-info
	@include bgimg(url(../../images/flowers.jpg))
	@include overlay(rgba(33,33,33,.7))
	color: $white-500
	padding: 100px 0
	text-align: center
	p
		font-size: 1.7rem
	img
		display: inline-block


@media all and (max-width: 700px)
	.html-info
		img
			display: none

